/* grey #32353c
    teal #00858a
    orange #e46e00 */

html {
    background-color: #32353c;
    color: #c0c0c0;
    background-image:linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1)), url("src/ken.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto 100%;
     
}

main {
    align-content: center;
}
header img {
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #e46e00;
}

#introPhoto h1 {
    margin-bottom: 3px;
    margin-top: 10px;
    font-size: 48px;
    border-bottom: 1px dotted #00858a;
    
}

#introPhoto h4 {
    margin: 0px;
    font-size: 28px;
}

#introPhoto {
    text-align: center;
}
#introPhoto img {
    margin: 5%;
}

footer nav ul {
    display: flex;
    padding-left: 0;
}

ul li a {
    text-decoration: none;
    color: #c0c0c0;
    list-style: none;
    width: 100%;
    margin: 5px;
}

footer nav ul li:last-child a {
    margin-right: 0;
    
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
}

h1 {
    justify-content: center;
}

h4 {
    justify-content: center;
}
h2 {
    justify-content: center;
    text-align: center;
}
.group {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5%;
    
}

.item {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    
    
}

.item img {
    display: block;
    width: 100%;
   
}

.navGroup {
    display: flex;
    flex-flow: row wrap;
}

.navItem {
    
    display: inline-flex;
    flex: 1;
    box-shadow: 0 0 4px #00858a;
    margin: 0 10px 0 10px ;
    justify-content: center;
    border-radius: 20px;
}

.socialGroup {
    display: flex;
    flex-flow: row nowrap;
}

.socialItem { 
    display: flex;
    flex: 1;
}

.socialItem img {
    background-color: #c0c0c0;
}

#contact {
    margin-bottom: 20%;
}

#intro {
   /* border-bottom: 3px ridge #00858a;
   border-right: 3px ridge #00858a; */
   box-shadow: 0 0 10px #00858a;
   padding-left: 5%;
   padding-right: 5%;
   font-size: 18px;
   border-radius: 20px;
}

.projectItem {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    box-shadow: 0 0 1px  #00858a;
    text-align: center;
    align-content: center;
    margin-bottom: 10px;
    padding: 5%;
}

.projectItem img {
    display: block;
    width: 100%;
   
}

#introPhoto img{
    border-radius: 30px;
    box-shadow: 0 0 10px  #00858a;
    height: 375px;
}

.projectItem h2 {
    align-content: center;
}

.projectItem a {
    background-color: #ffffff;
}

.formItem {
    display: inline-flex;
    margin: 0 10px 5px 10px ;
    flex: 1;
}

#form {
    display: inline-flex;
    flex-flow: row;
}

#footerGroup {
    margin: 0;
    padding: 0;
}





@media all and (min-width: 515px){
    html {
        background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1));
        background-position: center;
        
    }
    body {
        margin-top: 0;
    }
    header img {
        margin-bottom: 10px;
        border-radius: 20px;
        box-shadow: 5px 5px 10px #e46e00;
        width: 100%;
    }

    .group {
        flex-direction: row;
        align-content: center;
    }


    .group h2 {
        width: 100%;
    }

    .item {
        flex-direction: column nowrap;
        font-size: 18px;
        
        width: 100%;
       
    }
    #abt {
        margin-left: 25%;
        margin-right: 25%;
    }
    
   #introPhoto{
       padding: 0 15%;
       justify-content: space-around;
   }
    #nameDiv {
        text-align: center;
        flex: 1;
        flex-direction: column; 
        max-width: 500px;
        
    }
    #contact{
        justify-content: center;
        
    }
    #form{
        width: 350px;
        flex-flow: column;
        
    }

    #projectGroup h2{
       text-align: center;
       flex-direction: row;
    }

    
    
    #intro {
        margin-left: 25%;
        margin-right: 25%;
    }
   
    #selfie {
    
        max-width: 300px;
    }

    .projectItem {
        flex-direction: column nowrap;
        font-size: 18px;
        
        width: 100%;
    }
}
